header {
	
	text-align: center;
}

/* MENU */
nav {
	position: fixed;
	width: 100%;
	margin-left: -8px;
	background-color: rgba(255, 255, 255, 0.596);
}

nav ul {
	list-style-type: none;
}

nav a, nav a:visited {
	display: block;
	text-decoration: none; 	
	color: #000;
	text-transform: uppercase;
	padding: 20px 15px;
	font-size: 22px;
}

.niv_1  {
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: center;
}

ul.niv_1 > li {
	display: inline-block;
	position: relative;
}

ul.niv_1 li a:hover, ul.niv_1 li a:focus {
	color: goldenrod;
}

.header_title {
	padding-top: 50%;
	background-image: url('assets/images/header_bg.jpg');
	margin: -8px -8px 0px -8px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
section.header_title h1 {
	padding: 20px;
}
